@model LojaVirtual.Models.Produto

<h3>Produto -> visualizar</h3>
:)

Razor -- Todos os direitos rezervados &copy; @DateTime.Now.Year
:)


<br />

<h2>Produto</h2>
<b>Código: </b> @Model.id <br />
<b>Nome: </b> @Model.nome<br />     
<b>Descrição: </b> @Model.descricao<br />
<b>valor: </b> @Model.valor.ToString("C")<br />